# E-commerce Sales Analysis

### Import libraries

In [185]:
import pandas as pd
from  IPython.display import display

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Dataset Overview

In [186]:
df = pd.read_csv("ecom_data(in).csv")
df.head()

,order_id,customer_id,quantity,price_MRP,payment,timestamp,rating,product_category,product_id,payment_type,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_city,customer_state,seller_id,seller_city,seller_state,payment_installments
0,9045fa841de3514ce900f5fc869d9b1f,2f8d6af8cb3875d6964eb4b5eff3a718,1,1074.38,1095.65,21-11-2017 22:34,5,health_beauty,0a37e05528984f47c754837344732fbb,credit_card,...,800,40,20,30,osasco,SP,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,5
1,404c087c1f661898fcfe9d4c4b1480d7,1ce70910bc16481433b771949f74552c,1,145.00,161.71,24-02-2017 22:55,5,health_beauty,67473aa97e981b3b8abaa6a8a768eb26,credit_card,...,400,38,12,25,campos dos goytacazes,RJ,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,7
2,d6d7c431275f0029dcc3538850930046,5b477d525dd0c1eb93148e22ce5d3ba6,1,145.00,161.71,19-01-2017 14:28,4,health_beauty,67473aa97e981b3b8abaa6a8a768eb26,credit_card,...,400,38,12,25,nova friburgo,RJ,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,1
3,c0e02613bf15378f18d3498361a76c9d,c2f181778a12039532d79460d4ba59e2,1,555.00,585.95,1/6/2018 22:22,4,health_beauty,b60a0c8bd0333c69ee70565973709bbf,boleto,...,650,16,10,11,porto velho,RO,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,1
4,1bf38e3450f15beeafbebe6e0665d612,21a9772e10934cf4598522d6ec827697,1,226.80,250.32,15-06-2018 20:36,5,health_beauty,08462528607b71ea62cbc019d91b001e,credit_card,...,650,16,10,11,montes claros,MG,ccc4bbb5f32a6ab2b7066a4130f114e3,curitiba,PR,8

In [187]:
# Basic information (mean, std, max of each columns)
df.describe()

,quantity,price_MRP,payment,rating,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_installments
count,116580.000000,116580.000000,116580.000000,116580.000000,116580.000000,116580.00000,116580.000000,116580.000000,116580.000000
mean,1.196955,120.735815,172.894920,4.017499,2115.560422,30.31858,16.645891,23.116898,2.949554
std,0.701353,183.772492,267.572419,1.397889,3783.587898,16.22276,13.474741,11.758687,2.783733
min,1.000000,0.850000,0.000000,1.000000,0.000000,7.00000,2.000000,6.000000,0.000000
25%,1.000000,39.900000,61.000000,4.000000,300.000000,18.00000,8.000000,15.000000,1.000000
50%,1.000000,74.900000,108.190000,5.000000,700.000000,25.00000,13.000000,20.000000,2.000000
75%,1.000000,134.900000,189.720000,5.000000,1800.000000,38.00000,20.000000,30.000000,4.000000
max,21.000000,6735.000000,13664.080000,5.000000,40425.000000,105.00000,105.000000,118.000000,24.000000

In [188]:
# no. columns and its data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116580 entries, 0 to 116579
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              116580 non-null  object
 1   customer_id           116580 non-null  object
 2   quantity              116580 non-null  int64
 3   price_MRP             116580 non-null  float64
 4   payment               116580 non-null  float64
 5   timestamp             116580 non-null  object
 6   rating                116580 non-null  int64
 7   product_category      116580 non-null  object
 8   product_id            116580 non-null  object
 9   payment_type          116580 non-null  object
 10  order_status          116580 non-null  object
 11  product_weight_g      116580 non-null  int64
 12  product_length_cm     116580 non-null  int64
 13  product_height_cm     116580 non-null  int64
 14  product_width_cm      116580 non-null  int64
 15  customer_city         116580 non-null  object
 16  customer_state        116580 non-null  object
 17  seller_id             116580 non-null  object
 18  seller_city           116580 non-null  object
 19  seller_state          116580 non-null  object
 20  payment_installments  116580 non-null  int64
dtypes: float64(2), int64(7), object(12)
memory usage: 18.7+ MB

### Basic stats

In [189]:
# no. orders
print("Number of row", df["order_id"].unique().shape[0])

Number of row 97254

In [190]:
# no. customers (except duplicated)
"The real no. customer is : " + df["customer_id"].unique().shape[0].__str__()

'The real no. customer is : 97254'

In [191]:
# How many orders have been invoiced for each customer? (top 15 highest)
df[["customer_id"]].value_counts().head(15)

"No. :" + df[["customer_id"]].value_counts().shape[0].__str__()

customer_id
270c23a11d024a44c896d1894b261a83    63
13aa59158da63ba0e93ec6ac2c07aacb    38
9af2372a1e49340278e7c1ef8d749f34    29
92cd3ec6e2d643d4ebd0e3d6238f69e2    26
63b964e79dee32a3587651701a2b8dbf    24
86cc80fef09f7f39df4b0dbce48e81cb    24
6ee2f17e3b6c33d6a9557f280edd2925    24
d22f25a9fadfb1abbc2e29395b1239f4    24
2ba91e12e5e4c9f56b82b86d9031d329    24
be1c4e52bb71e0c54b11a26b8e8d59f2    22
b246eeed30b362c09d867b9e598bee51    22
50920f8cd0681fd86ebe93670c8fe52e    21
5e0f7317756669ff7b384444dbb81fa3    21
fc3d1daec319d62d49bfb5e1f83123e9    21
be1b70680b9f9694d8c70f41fa3dc92b    20
Name: count, dtype: int64

'No. :97254'

In [192]:
# How many customer just order one time (top 15)
df[["customer_id"]].value_counts()[df[["customer_id"]].value_counts().values == 1].head(15)

"No. :" + df[["customer_id"]].value_counts()[df[["customer_id"]].value_counts().values == 1].shape[0].__str__()

customer_id
b04337a5939fac7b5a29dc741c51e8de    1
b08388f79b3d1431d4d711ad96e26209    1
b06cfc8fc756e56db7d7e8d374883b00    1
b0414648ea181ad51b800a1a2d5e7503    1
8e6e4cf2ce41cda407074b416f893269    1
8e78fa10bc579cfbc6f3a6569e3a06fb    1
8e86b977c665aff2f6b1ea89d18f5f53    1
8e5fb420cf8c57efbdf1632de43b3f16    1
8e86f0490152454ec19c8b726fed3a93    1
8e601a5bc7400238e02a0f077f1db7a3    1
b0792b7825124460d0e85e6b9ba0661d    1
8e607c2cb0711018115d7a6aaff94bc3    1
8e74c6f59833b01dec6cd56211141d6c    1
8e88dfbdc464985339b99f7738ba6962    1
8e7eecd755eb34ec71e1955f19bb86d6    1
Name: count, dtype: int64

'No. :84525'

In [193]:
# maximum quantity 
"Min quantity: " + str(df["quantity"].min())
"Max quantity: " + str(df["quantity"].max())

'Min quantity: 1'

'Max quantity: 21'

In [194]:
# top 10 orders has the lowest product quantity and customer duplicated more than twice
df[df["quantity"] == df["quantity"].min()]\
    [df["customer_id"].duplicated()].head(10)\
    [["order_id", "customer_id", "quantity"]]

/tmp/ipykernel_4811/86786242.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["quantity"] == df["quantity"].min()]\

,order_id,customer_id,quantity
129,0cd93455c51655ebb590c07a06d584a1,72db172e77409b4cc768552a16548206,1
130,0cd93455c51655ebb590c07a06d584a1,72db172e77409b4cc768552a16548206,1
148,61ed1876bd482d2c77e3b085ce949c69,a7de58749b09c1b70e10847d7f8a3986,1
172,aa04ef5214580b06b10e2a378300db44,f01a6bfcc730456317e4081fe0c9940e,1
174,5d6f7de589fed3156a711dfd607e7f50,d8e8abfdd5595791e6839dd57db99559,1
196,5262eaeb971616ffef822379ed91896f,35f335e770081fe4f2df0a8e7e7a2888,1
203,500aced6001e75a49db10f0ae54f94f1,5dee3e7c6309f7edd5ddab8816456cea,1
237,8fc3ff1d28b1b197058c88cc2d66a07b,e60d2d68c3408aae095b3669023f5aab,1
241,82ffe097d8ddbf319a523b9bbe7725d5,caed95700dcb091eeaac59a97fe0cb17,1
242,82ffe097d8ddbf319a523b9bbe7725d5,caed95700dcb091eeaac59a97fe0cb17,1

In [195]:
# top 10 product has highest price maximal retail price and its category
df.sort_values(by="price_MRP", ascending=False)\
[["product_id", "price_MRP", "product_category"]].\
    reindex(index=(range(df.shape[0]))).head(10)

                         product_id  price_MRP product_category
0  0a37e05528984f47c754837344732fbb    1074.38    health_beauty
1  67473aa97e981b3b8abaa6a8a768eb26     145.00    health_beauty
2  67473aa97e981b3b8abaa6a8a768eb26     145.00    health_beauty
3  b60a0c8bd0333c69ee70565973709bbf     555.00    health_beauty
4  08462528607b71ea62cbc019d91b001e     226.80    health_beauty
5  08462528607b71ea62cbc019d91b001e     207.90    health_beauty
6  2483416c14aa8d93dad96745a9230bfa     860.00    health_beauty
7  2483416c14aa8d93dad96745a9230bfa     589.00    health_beauty
8  2483416c14aa8d93dad96745a9230bfa     589.00    health_beauty
9  2483416c14aa8d93dad96745a9230bfa     650.00    health_beauty

In [196]:
# highest and lowest price MRP
"Highest MRP: " + df["price_MRP"].max().__str__()
"Lowest MRP: " + df["price_MRP"].min().__str__()

'Highest MRP: 6735.0'

'Lowest MRP: 0.85'

In [197]:
# highest and lowest payments
"Highest payment : " + df["payment"].max().__str__()
"Lowest payment : " + df["payment"].min().__str__()

'Highest payment : 13664.08'

'Lowest payment : 0.0'

In [198]:
# no. orders has payment lower than mrp, equivalent acceptable

df[df["price_MRP"] > df["payment"]].\
    sort_values(by=["price_MRP", "payment"], ascending=False).\
        head(15)[["order_id", "customer_id", "price_MRP", "payment"]]

"Total No. : " + df[df["price_MRP"] > df["payment"]].shape[0].__str__()

,order_id,customer_id,price_MRP,payment
92147,80dfedb6d17bf23539beeef3c768f4d7,926b6a6fb8b6081e00b335edaf578d35,3999.0,3360.66
92146,80dfedb6d17bf23539beeef3c768f4d7,926b6a6fb8b6081e00b335edaf578d35,3999.0,834.10
77049,9de73f3e6157169ad6c32b9f313c7dcb,eb7a157e8da9c488cd4ddc48711f1097,3899.0,135.44
7819,f398a143c0fe171d965db2096cf064cf,46bb3c0b1a65c8399d0363cefbcc4f37,3124.0,2183.41
7818,f398a143c0fe171d965db2096cf064cf,46bb3c0b1a65c8399d0363cefbcc4f37,3124.0,1113.99
98028,83e6338b5cf25dcf222551cb8da8d0d6,3690e975641f01bd07ad635f03dbb894,2649.0,2442.82
98027,83e6338b5cf25dcf222551cb8da8d0d6,3690e975641f01bd07ad635f03dbb894,2649.0,250.00
71538,a863fef6caa86aa29cabfbf7e0b6f911,9cf0a858f5f153406bc333860eb23e22,2299.0,2073.25
71539,a863fef6caa86aa29cabfbf7e0b6f911,9cf0a858f5f153406bc333860eb23e22,2299.0,250.00
111173,6907ea7150759a085c8ed75a55aeb90d,e69714d6b494f7279512327ebcc01889,2109.9,1800.00
111172,6907ea7150759a085c8ed75a55aeb90d,e69714d6b494f7279512327ebcc01889,2109.9,350.81
21115,db66dca329373cf37340222e240340b6,466dcf5fcdc7c7a8a4bfebc7ce59b281,1988.0,1115.00
21114,db66dca329373cf37340222e240340b6,466dcf5fcdc7c7a8a4bfebc7ce59b281,1988.0,899.99
21119,30f610db02d0880c9687dd1edd8b8710,38fc30b75b381342c67d25e2f11ccec0,1890.0,1875.77
21120,30f610db02d0880c9687dd1edd8b8710,38fc30b75b381342c67d25e2f11ccec0,1890.0,50.00

'Total No. : 6354'

In [199]:
# no. customers have to pay more than mrp (against the law)

df[df["price_MRP"] < df["payment"]].\
sort_values(by=["price_MRP", "payment"], ascending=False).\
        head(15)[["order_id", "customer_id", "price_MRP", "payment"]]

"Total No. : "+  df[df["price_MRP"] < df["payment"]].shape[0].__str__()

,order_id,customer_id,price_MRP,payment
59495,0812eb902a67711a1cb742b3cdaa65ae,c6e2731c5b391845f6800c97401a43a9,6735.00,6929.31
115221,fefacc66af859508bf1a7934eab1e97f,f48d464a0baaea338cb25f816991ab1f,6729.00,6922.21
113536,f5136e38d1a14a4dbd87dff67da82701,3fd6777bbce08a352fddd04e4a7cc8f6,6499.00,6726.66
92151,a96610ab360d42a2e5335a3998b4718a,df55c14d1476a9a3467f131269c2477f,4799.00,4950.34
92148,199af31afc78c699f0dbf71fb178d4d4,24bbf5fd2f2e1b359ee7de94defc4a15,4690.00,4764.34
115215,8dbc85d1447242f3b127dda390d56e19,3d979689f636322c62418b6346b1c6d2,4590.00,4681.78
111171,426a9742b533fc6fed17d1fd6d143d7e,1afc82cd60e303ef09b4ef9837c9505c,4399.87,4513.32
92743,68101694e5c5dc7330c91e1bbc36214f,35a413c7ca3c69756cb75867d6311c0d,4099.99,4175.26
48307,b239ca7cd485940b31882363b52e6674,e9b0d0eb3015ef1c9ce6cf5b9dcbee9f,4059.00,4163.51
69396,86c4eab1571921a6a6e248ed312f5a5a,c6695e3b1e48680db36b487419fb0398,3999.90,4016.91
88775,41b7766bb1df487d17fb9725b78ff509,31e83c01fce824d0ff786fcd48dad009,3930.00,3979.55
74248,d3f66901a6743e15f9311547cc623b91,19b32919fa1198aefc0773ee2e46e693,3700.00,3792.59
17172,e85c92ee6a3ba1ef47e41c23286314d9,66657bf1753d82d0a76f2c4719ab8b85,3699.99,3736.22
48308,a53e05ecd2ed1f46a2b8e1f5828be7c6,addc91fdf9c2b3045497b57fc710e820,3690.00,3826.80
115002,df85c824523500d4066a0dbdb5d95bed,39d6658037b1b5a07d0a24d423f0bd19,3549.00,3602.47

'Total No. : 109920'

In [200]:
# format date time
df["timestamp"] = df["timestamp"].apply(lambda date : str(date).replace('/','-'))
df["timestamp"] = pd.to_datetime(df["timestamp"], format='%d-%m-%Y %H:%M')

In [201]:
# Which's the started day and ended day of this dataset
# date = pd.to_datetime("your date", format='%d-%m-%Y %H:%M')
"Started date: " + df["timestamp"].min().__str__()
"Ended Date: " + df["timestamp"].max().__str__()

'Started date: 2016-09-04 21:15:00'

'Ended Date: 2018-09-03 09:06:00'

In [211]:
# number of order has been invoiced in 2017
df[df["timestamp"].between("2017-01-01", "2017-12-31")]\
    [["order_id", "customer_id", "timestamp"]].sort_values(by="timestamp").head(15)

"Number of orders invoiced in 2017 : " + df[df["timestamp"].\
    between("2017-01-01", "2017-12-31")].shape[0].__str__()

,order_id,customer_id,timestamp
90794,ec7a019261fce44180373d45b442d78f,c24fc5f9a446b4d8262041b9c64de772,2017-01-05 11:56:00
19649,b95a0a8bd30aece4e94e81f0591249d8,ff3c6d35b4927c9b965aa6a68dcf56e4,2017-01-05 12:01:00
102358,38bcb524e1c38c2c1b60600a80fc8999,d2c63ad286e3ca9dd69218008d61ff81,2017-01-05 12:06:00
102353,7a18a504c1a4b32d883e68de2e1a7db0,e6bee29442c761ff0dfb9a4414922a5c,2017-01-05 12:09:00
102357,6acecf438369055d9243e121045cca74,42d857e22f61f10476f0cda1aacc018a,2017-01-05 12:11:00
90799,34bf4feda1e203af64692d97c6950c39,64b56cb1662271f54a81d96a28741487,2017-01-05 12:14:00
102355,40599d3d28b75746952ded75566637b9,efdf4a7c78d7c364046efb69035d1d4f,2017-01-05 13:01:00
90792,ce86fa5a5108884726a2244bcae51ae6,8fa33a3159dfc303b8aeccf859b9bee5,2017-01-05 13:29:00
90797,7004296aa0256632eaddc171edaf727f,3a7856f2a103364d279de7f72e18b7c4,2017-01-05 13:31:00
90793,cce1b8a1c5f8b1d224e19628299c8f54,63433f6eb6f0a79cbb24e940d0ab17ad,2017-01-05 13:33:00
113768,f175d67589e059cbbda956f10f0702e6,a4555d257db29ef5f838cec4101c5208,2017-01-05 13:34:00
113771,0bda8164c1a12b6a388ebec8559ee287,3f402674c608ea67085eb5e0ec4d96ef,2017-01-05 13:36:00
90796,5965b589a33443dd1f820eb7df39762a,e7e6da2ddce69ab0bf01d7ed4dbd0856,2017-01-05 13:36:00
76328,db7576b1fe440f4c0a808855aacf0948,fc30386d1f0ca6d7f48845275ac0cd23,2017-01-05 13:37:00
116256,1b694ef5b28d3e949a4f0ffeb2c9fcd6,cba12036a88407a37770dc8ab725de77,2017-01-05 13:43:00

'Number of orders invoiced in 2017 : 52917'